<div style="width: 600px;margin:auto">
    <img style="width: 600px" src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
</div>

<<<<<<< HEAD
<h1 align="center">Welcome to the //Amusement Park!</h1>
=======
<h1 align="center">Welcome to the //Amusement Park!</h1>
>>>>>>> 7f085de209bc18e15555530299d209c940c9be71
